<div class="address-in-order">
  <div class="address-icon-map">
    <div class="icomoon icomoon-location">
    </div>
  </div>
  <div class="order-address">
    <div class="order-address-user-info">
      <div class="order-address-user-name">
        <span class="address-user-name-des">收件人：</span><span><%=receiver%></span>
      </div>
      <div class="order-address-user-phone"><%=receiverPhone%></div>
    </div>
    <div class="order-address-address">
      <span><%=receiverDetailAddress%></span>
    </div>
  </div>
  <div class="order-address-icon-right"><span class="icomoon icomoon-more"></span></div>
</div>
