<div class="nofity-sex-info">
  <header class="headerbox">
      <div class="left-right nav-left bill-info-back">
          <span class="icomoon icomoon-back"></span>
      </div>
      <div class='mid'>
        <span class="common-title">设置发票信息</span>
      </div>
      <div class="left-right nav-right">
      </div>

  </header>
  <div class="bill-enable">
    <span class="bill-switch-des">需要发票</span><span class="bill-switch-view"></span>
  </div>
  <div class="bill">
    <div class="bill-title-info bill-info">
      <span class=" bill-des pull-left">发票抬头</span>
      <span class="pull-left"><input type="text" class="bill-title bill-edit" /></span>
    </div>
    <div class="bill-content-info bill-info">
      <span class="pull-left bill-des">发票内容</span>
      <span class="pull-left"><input type="text" class="bill-content bill-edit" /></span>
    </div>
    <button class="btn btn-block btn-submit theme-backgorund-color bill-submit">确定</div>
  </div>

</div>
