<li class="home-goods-discount clearfix">
  <a href="#home-navigate/itemdetail?goodsid=<%=id%>">
  <div class="home-goods-box">
    <img class="home-img" src="<%=imageurl%>" alt="" />
    <div class="home-goods-words">
      <div class="home-goods-character">
        <%=name%>
      </div>
      <div class="home-goods-money">
        <div class="home-goods-rmb">¥</div>
        <div class="home-goods-num"><%=price%></div>
        <div class="home-goods-cell"><%= sales %>人付款</div>
      </div>
    </div>
  </div>
    </a>
</li>
