<div class="cart-editor-view-corver"></div>
<div class="cart-editor-view">
  <div class="cart-editor-view-content">
    <div class="goods-info-view cart-editor-content">
        <img class="goods-img" src="" />
        <div class="goods-info">
          <div class="goods-price theme-color"></div>
          <div class="goods-stack"></div>
          <!-- <div class="goods-warespec">黑色，37</div> -->
        </div>
        <div class="cart-editor-view-close">
          <span class="icomoon icomoon-close"></span>
        </div>
    </div>
    <div class="goods-spec-part1 cart-editor-content">
      <div class="spec-part1-content"></div>
    </div>
    <div class="goods-editor-btn theme-backgorund-color">确定</div>
  </div>
</div>
