<div class="create-comment-list-item">
  <div class="order-goods-details-listitem">
    <div class="goods-details-img">
      <img src="<%=productImage%>" />
    </div>
    <div class="order-goods-details-content">
      <div class="order-goods-details-title">
        <%=productName%>
      </div>
      <div class="order-goods-detail-mid">
          <div class="order-goods-details-spec">
            <%=specInfo%>
          </div>
      </div>
      <div class="order-goods-details-price">
        <div class="order-goods-details-unit-price theme-color">
          ¥
          <%=productPrice%>
        </div>
        <div class="order-goods-details-number">
          x
          <%=number%>
        </div>
      </div>
    </div>
  </div>
  <div class="comment-level">
    <div class="comment-level-item">
      <span class="level-item level-item-good">好评</span>
    </div>
    <div class="comment-level-item">
      <span class="level-item level-item-good-better">较好</span>
    </div>
    <div class="comment-level-item">
      <span class="level-item level-item-common">一般</span>
    </div>
    <div class="comment-level-item">
      <span class="level-item level-item-bad-better">较差</span>
    </div>
    <div class="comment-level-item">
      <span class="level-item level-item-bad">差评</span>
    </div>
  </div>
  <div class="comment-content">
    <textarea class="comment-content-text" placeholder="写点什么吧，以便其他小伙伴们提供参考，字数在10-200个字" />
  </div>
  <!-- <div class="image-upload-view">
    <div class="image-upload-content">
      <div class="image-preview"></div>
      <div class="image-add">
        <div class="image-upload"><span class="icomoon icomoon-camera"></span></div>
        <input class="input-image-upload" type="file" id="Files" name="files[]" accept="image/*" multiple="">
      </div>
    </div>
  </div> -->

</div>
