<!-- 确认订单页面模板  author Vicent-->
<div class="nofity-sex-info">
  <header class="headerbox">
      <div class="left-right nav-left ensure-order-back">
          <span class="icomoon icomoon-back"></span>
      </div>
      <div class='mid'>
        <span class="common-title">交易成功</span>
      </div>
      <div class="left-right nav-right">
      </div>
  </header>

  <div class="ensure-order-info">
    <div class="order-info">
      <div class="order-ensure-des pull-left">交易成功<br/>卖家将收到您的货款</div>
      <div class="order-product-img pull-right"><img id="order_product_pic" /></div>
    </div>
  </div>

  <div class="bottom-button-table">
    <span class="order-btm-bar-cell"><a class="ensure-order-back order-btm-bar-btn">返回订单列表</a></span>
    <span class="order-btm-bar-cell"><a class="order-comment theme-color order-btm-bar-btn">立即评价</a></span>
  </div>

</div>
