<li class="goods-collector-li" data-cid="<%=id%>">
  <div class="goods-collector-list">
    <div class="goods-collector-circle" data-cid="<%=id%>"></div>
    <div class="goods-collector-img">
      <img class="goods-collector-img-style" src="<%=imageurl%>">
    </div>
    <div class="goods-collector-sell">
      <div class="goods-collector-name"><%=name%></div>
      <div class="goods-collector-money">
        <div class="goods-collector-rmb theme-color">¥</div>
        <div class="goods-collector-num theme-color"><%=price%></div>
        <div class="goods-collector-box">
          <div  class="buy-immediate theme-color theme-border-color">立即购买</div>
         <!--  <div class="goods-collector-selected" data-name = "goods">
           <div class="goods-collector-btn" data-name = "goods" data-cid="<%=id%>">取消收藏</div>
         </div> -->
        </div>
      </div>
    </div>
  </div>
</li>
