<div class="nofity-name-info">
  <header class="headerbox">
      <div class="left-right nav-left gobackPersonal">
          <span class="icomoon icomoon-back"></span>
      </div>
      <div class='mid'>
        <span class="common-title">修改昵称</span>
      </div>
      <div class="left-right nav-right">

      </div>

  </header>

  <div class="notify-name-content">
    <input placeholder="昵称" type="text" class="notify-user-name" />

    <button class="btn btn-primary btn-save">保存</button>
  </div>
</div>
