<div class="nofity-sex-info">
  <header class="headerbox">
      <div class="left-right nav-left gobackPersonal">
          <span class="icomoon icomoon-back"></span>
      </div>
      <div class='mid'>
        <span class="common-title">性别</span>
      </div>
      <div class="left-right nav-right">

      </div>

  </header>
  <div class="notify-sex-content">
    <div class="my-page-view">
        <div class="my-item-cell notify-sex-mile">
          <div class="item-cell-left">
            <div class="cell-left-name">
              男
            </div>
          </div>
          <div class="item-cell-right item-sex item-mile sex-selector">
            <div class="item-right-icon notify-sex-checked theme-border-color"></div>
          </div>
        </div>
        <div class="my-item-cell notify-sex-femile">
          <div class="item-cell-left">
            <div class="cell-left-name">
              女
            </div>
          </div>
          <div class="item-cell-right item-sex item-femile sex-selector">
            <div class="item-right-icon notify-sex-checked theme-border-color"></div>
          </div>
        </div>

        <div class="my-item-cell notify-sex-unknown" style="display: none">
          <div class="item-cell-left notify-sex-femile">
            <div class="cell-left-name">
              保密
            </div>
          </div>
          <div class="item-cell-right item-sex item-unknown sex-selector">
            <div class="item-right-icon notify-sex-checked theme-border-color"></div>
          </div>
        </div>
        <div class="bottom-cell-line"></div>
      </div>

    </div>
</div>
