<li class="all-order-list-item" data-index="<%=parentSn%>">
    <div class="list-item-line"></div>
    <div class="shop-info-order shop-item-header">
        <span class="icomoon icomoon-store order-icomoon-store"></span>
        <div class="shop-info-name-shopname">三主粮</div>
        <% if(orderStatus == "4" || orderStatus == "5" || orderStatus == "6" || orderStatus == "7") {%>
            <span class="shop-order-delete theme-color icomoon icomoon-delete" data-name="cancelOrder">
            </span>
        <% } %>
    </div>
    <div class="order-goods-details-listitem">
        <div class="goods-details-img">
            <img src="<%=suitImages[0].suitImage%>" alt="" />
        </div>
        <div class="order-goods-details-content">
            <div class="order-goods-details-title">
                <%=suitName%>
            </div>
            <div class="order-goods-detail-mid">
                <div class="order-goods-details-spec">
                    <%=remark%>
                </div>
                <div class="order-goods-details-order-status theme-backgorund-color">
                   <!--  <% if(orderStatus == '2') { %>
                        <span>待付款</span>
                    <% } else if(orderStatus == '3'){ %>
                        <span>待发货</span>
                    <% } else if(orderStatus == '1'){ %>
                        <span>已取消</span>
                    <% } else if(orderStatus == '4'){ %>
                        <span>待收货</span>
                    <% } else if(orderStatus == '5'){ %>
                        <span>已完成</span>
                    <% } %> -->
                    <%=describe %>
                </div>
            </div>
            <div class="order-goods-details-price">
                <div class="order-goods-details-unit-price theme-color">
                 <% if(orderFee){ %>
                    ¥<%=orderFee%>
                 <% }else{ %>
                    ¥<%=parentAmont%>
                 <% } %>   
                </div>
                <div class="order-goods-details-number">
                    <!-- x3 -->
                </div>
            </div>
        </div>
    </div>
    <% if(orderStatus == '2') { %>
        <div class="shop-info-order fee-info shop-item-foot shop-item-foot-btn-cell">
            <span class="btn-order order-pay theme-color theme-border-color pull-right" data-name="payOrder">立即支付</span>
            <span class="btn-order order-cancel theme-color theme-border-color pull-right" data-name="cancelOrder">取消订单</span>
        </div>
    <% } else if(orderStatus == '3') {  %>
         <%if(suitType==1){ %>
	         <%if(ladingFlag==1){ %>
	        <div class="shop-info-order fee-info shop-item-foot shop-item-foot-btn-cell">
	            <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="showList">提货记录</span>
	            <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="getPackage">提货</span>
	        </div>
	        <% }else{ %>
	           <div class="shop-info-order fee-info shop-item-foot shop-item-foot-btn-cell">
	           <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="cancelPayMoney">申请退款</span>
	            <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="showList">提货记录</span>
	            <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="getPackage">提货</span>
	        </div>
	        <%}%>
	       <%}else{%> 
	       		<div class="shop-info-order fee-info shop-item-foot shop-item-foot-btn-cell">
	                <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="cancelPayMoney">申请退款</span>
	             </div>
	       <%}%>
    <% } else if(orderStatus == '4') { %>
         <%if(suitType != 1){ %>
	        <div class="shop-info-order fee-info shop-item-foot shop-item-foot-btn-cell">
	           <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="checkLog">查看物流</span>
	            <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="ensureOrder">确认收货</span>
	            <!--
	            <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="shouhou">申请售后</span>
	            -->
	        </div>
            <% }else{ %>
              <div class="shop-info-order fee-info shop-item-foot shop-item-foot-btn-cell">
	           <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="showList">提货记录</span>
	        </div>
            <%}%>
    <% } else if(orderStatus == '5') { %>
      <div class="shop-info-order fee-info shop-item-foot shop-item-foot-btn-cell">
           <%if(suitType == 1){%>
           	<span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="showList">提货记录</span>
           <%}%>
           <!--  <span class="btn-order comment-add theme-color theme-border-color pull-right" data-name="addComment">评价</span>
            <span class="btn-order order-recieve theme-color theme-border-color pull-right" data-name="shouhou">申请售后</span> -->
        </div>
    <% }else if(orderStatus == '6'){ %>
         <div class="shop-info-order fee-info shop-item-foot shop-item-foot-btn-cell">
            <span class="btn-order comment-add theme-color theme-border-color pull-right" data-name="buyAgain">再次购买</span>
            <span class="btn-order order-recieve pull-right" style="border:#ccc 1px solid;" data-name="cancelPayMoney">退款处理中</span>
        </div>
    <%}%>
</li>
