<ul class="table-view"
	style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); margin-bottom: 5px; background-color: rgb(255, 255, 255);">
	<li class="table-view-cell media favorite-item list-content"
		style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221);">
		<div class="list-item">
			<img class="item-package-detail-img"
				src="<%=goodsImage%>">
			<div class="media-body item-media-body">
				<div class="item-package-detail-title">
					<div class="item-package-detail-name"><%=goodsTitle%></div>
					<div class="item-net-content"></div>
				</div>
				<div class="item-package-detail-price">
					<div class="price-money">￥<%=goodsPrice%></div>
					<div class="right-text">x<%=goodsNum%></div>
				</div>
			</div>
		</div>
	</li>
</ul>