<div class="root-popup-menu">
  <div class="popup-menu">
    <div class="menu-arrow">
      <span class="icomoon icomoon-pullup"></span>
    </div>
    <div class="menu-content">
      <div class="menu-home menu-item">
        <span class="menu-icomoon icomoon icomoon-home pull-left"></span>
        <span class="pull-right">首页</span>
      </div>
      <div class="menu-message menu-item">
        <span class="menu-icomoon icomoon icomoon-talk pull-left"></span>
        <span class="pull-right">消息</span>
      </div>
      <div class="menu-search menu-item">
        <span class="menu-icomoon icomoon icomoon-search pull-left"></span>
        <span class="pull-right">搜索</span>
      </div>
    </div>
  </div>
</div>
