<li class="table-view-cell media favorite-item list-content">
  <div class="list-item">
    <img class="item-media-object media-object pull-left item-media-object-single-line" src="<%=image%>">
    <div class="media-body item-media-body">
      <div class="item-media-title"><%=name%></div>
      <div class="item-media-mark"><span class="price-unit">¥</span><span class="price"><%=price%></span></div>
      <div class="item-media-des"><span>销量: <%= salesNumber %></span></div>
    </div>
  </div>
</li>
