<div class="bar bar-tab product-bottom-bar yyfixed">
  <!--<a class="tab-item tab-left tab-tel">
    <span class="icon icomoon-phone pb-tab"></span>
    <span class="tab-label pb-tab">电话</span>
  </a>
  -->
  <a class="tab-item tab-left pb-tab first-tab goods-title-selected collection-goods">
      <div class="collect-in">
        <span class="ico ico-star icomoon-starunclick goods-title-collection"></span>
        <span class="tab-label" style="display: block">收藏</span>
      </div>
  </a>
  <a class="tab-item tab-left pb-tab item-shopcart">

    <div class="shopcart-in">
        <div class="goods-shoppingcart-tips">
        </div>
        <span class="icon icomoon-cart"></span>
        <span class="tab-label">购物车</span>
    </div>
  </a>
  <a class="tab-item item-cart tab-right">加入购物车</a>
  <a class="tab-item item-buy theme-backgorund-color tab-right">  轻松购  </a>
</div>
