<div class="search-transfer-view">
    <header class="headerbox">
        <div class="left-right nav-left hide-search">
            <span class="icomoon icomoon-back"> </span>
        </div>
        <div class="search-right">
            <div class="search-block-title" id="completeinput">
                完成
            </div>
        </div>
    </header>
    <div style="clear: both;
    height: 1rem;
    background: #fff;
    margin-top: 1.4rem;">
            <div class="search-block" style="padding-top:0.1rem;">
                <input type="text" id="searchTransfer" placeholder=" 请输入接收人手机号码">
            </div>
        </div>
    <!--<div class="left-right nav-left hide-search">
        <span class="icomoon icomoon-back"></span>
    </div>  -->
</div>